body{
  background-image:url(./თევზები/Frame\ \(1\).png);
  height: 100vh;
  background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 10px;

  
}

img{
    width: 20px;
    height: 20px;
}
.fish{
    width: 60vw;
    height: 70vh;
}
.item{
border: 1px solid white;
color: white;
padding: 15px;
width: 200px;
height: 37px;
margin: 20px;
border-radius: 4px;

}

.items{
    border: 2px solid none;
    align-content: center;
}

span{
    margin-left: 10px;
}