body{
  background-image:url(./თევზები/Frame\ \(1\).png);
  height: 100vh;
  background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 10px;
  
}







img{
    width: 20px;
    height: 20px;
}
.fish{
    width: 60vw;
    height: 70vh;
}